html, body {
    margin: 0;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: #ecf0f2;
    letter-spacing: 1px;
}

/*div {
    background-color: white;
}*/

.cmp {
    background-color: white;
}

.blocky {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 30px 15px;

}



.join {
    line-height: 1.9em;
    margin-top: 30px;
}

.arrow:before {
    font-size: 3.0em;
    margin-top: 20px;
}

#truck {
    float: left;
}

#wheel {
    float: right;
}

.contact {
    margin-top: 40px;
    letter-spacing: 1px;
}

.contactBox {
    margin-left: 6%;
    line-height: 2.9em;
    padding: 0;
}

.driverBox {
    background-color: black;
}

/*.topTwo {
    display: flex;
}*/



/*.driverBox {
    flex: 4;
    flex-grow: 2;
}
*/
/*.contactBox {
    flex: 1;
    flex-grow: 2;
    margin-left: 6%;
    line-height: 2.9em;

}*/

/*
@media all and (max-width: 600px) {
    .driverBox {
        flex: 1;
    }

    .contactBox {
        flex: 0;
    }

}*/

.header {
    background-color: black;
}

.navbar-inverse .navbar-nav>li>a {
   /* padding-top: 22px;*/
   color: white;
}

.room {
    margin-top: 30px;
}

.title {
    color: white;
    margin-top: 10px;
}

.jobs {
    background-color: black;
    color: white;
}

.contactBox {
    background-color: black;
}

.carousel {
  max-height: 700px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
  }
}

#mission {
    font-size: 1.6em;
    text-align: center;
}

#our {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}


.final {
    /*margin-bottom: 770px;*/
}

/*.content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

.parallax {
    background-image: url("../images/dirtroad.jpg");
    min-height: 520px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.parallax2 {
    background-image: url("../images/mercedes.jpg");
    min-height: 420px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px -2px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}



/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
/*@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}*/




/*.footer {
    margin-bottom: 200px;
}*/
