html, body {
    margin: 0;
    padding-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.header {
    background-color: black;
}

.navbar-nav>li>a {
    padding-top: 22px;
}

.navbar-nav>li>a:link { /* Essentially means a[href], or that the link actually goes somewhere */
  color: blue;
}
.navbar-nav>li>a:visited {
  color: purple;
}
.navbar-nav>li>a:hover {
  color: green;
}
.navbar-nav>li>a:active {
  color: red;
}

.title {
    color: white;
    margin-top: 10px;
}

.carousel {
  max-height: 700px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
  }
}

#mission {
    font-size: 3em;
    text-align: center;
}

#our {
    font-size: 2em;
}

ul {
    list-style-type: none;
}

.parallax {
    background-image: url("../images/dirtroad.jpg");
    min-height: 520px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("../images/mercedes.jpg");
    min-height: 520px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
/*@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}*/

.footer {
    margin-bottom: 200px;
}
